streamlit
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

pypdf
faiss-cpu
chromadb

sentence-transformers
huggingface-hub

rank-bm25

numpy
pandas
torch
torchvision

# Resolve protobuf / opentelemetry compatibility on Streamlit Cloud
opentelemetry-api>=1.20.0
opentelemetry-sdk>=1.20.0
opentelemetry-proto>=1.20.0
opentelemetry-exporter-otlp>=1.20.0
pysqlite3-binary; sys_platform == 'linux'

